footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #97f1f1;
    color:black;
    padding: 20px;
}
.flex-it-row{
    display: flex;
    align-items: center;
}

.foot-connect{
    margin:20px;
}
.connect-logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.i-logo{
    width: 22px;
    height: 24px;
}
.f-logo{
    width:19px;
    height:18px;
}
.p-logo{
    width:26px;
    height: 32px;
}
